<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="/layout/app">
<section layout:fragment="content">

    <!-- contact -->
    <div class="login">
        <div class="container">
            <form th:action="@{/login}" method="post">
                <div class="col-md-6 login-do1 animated wow fadeInLeft" data-wow-delay=".5s">
                    <div class="login-mail">
                        <input type="text" placeholder="username" name="username" required="required">
                        <i class="glyphicon glyphicon-user"></i>
                    </div>
                    <div class="login-mail">
                        <input type="password" placeholder="password" name="password" required="required">
                        <i class="glyphicon glyphicon-lock"></i>
                    </div>
                    <a class="news-letter " href="#">
                        <label class="checkbox1"><input type="checkbox" name="is_remember"><i> </i>remember me</label>
                    </a>


                </div>
                <div class="col-md-6 login-do animated wow fadeInRight" data-wow-delay=".5s">
                    <label class="hvr-sweep-to-top login-sub">
                        <input type="submit" value="login">
                    </label>
                    <p>Do not have an account?</p>
                    <a th:href="@{/register}" class="hvr-sweep-to-top">Signup</a>
                </div>

                <div class="clearfix"></div>
            </form>

        </div>
    </div>
    <div class="social animated wow fadeInUp" data-wow-delay=".1s">
        <div class="container">
            <div class="col-sm-3 social-ic">
                <a href="#">FACEBOOK</a>
            </div>
            <div class="col-sm-3 social-ic">
                <a href="#">TWITTER</a>
            </div>
            <div class="col-sm-3 social-ic">
                <a href="#">GOOGLE+</a>
            </div>
            <div class="col-sm-3 social-ic">
                <a href="#">PINTEREST</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>

</html>