<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="/layout/app">
<section layout:fragment="content">
    <!-- contact -->
    <div class="login">
        <div class="container">
            <form th:action="@{/register}" id="reg_form" method="post">
                <div class="col-md-6 login-do1 animated wow fadeInLeft" data-wow-delay=".5s">

                    <div class="login-mail">
                        <input type="text" name="username" placeholder="Username" required="">
                        <i class="glyphicon glyphicon-user"></i>
                    </div>
                    <div class="login-mail">
                        <input type="email" name="email" placeholder="Email" required="">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </div>
                    <div class="login-mail">
                        <input type="password" name="password" placeholder="Password" required="">
                        <i class="glyphicon glyphicon-lock"></i>
                    </div>
                    <div class="login-mail">
                        <input type="password" name="confirm" placeholder="Confirm password" required="">
                        <i class="glyphicon glyphicon-lock"></i>
                    </div>
                    <a class="news-letter" href="#">
                        <label class="checkbox1"><input type="checkbox" name="checkbox"><i> </i>I agree with the
                            terms</label>
                    </a>

                </div>
                <div class="col-md-6 login-do animated wow fadeInRight" data-wow-delay=".5s">
                    <label class="hvr-sweep-to-top login-sub">
                        <input type="submit" value="Submit">
                    </label>
                    <p>Already register</p>
                    <a th:href="@{/login}" class="hvr-sweep-to-top">Login</a>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>


    </div>
    <div class="social animated wow fadeInUp" data-wow-delay=".1s">
        <div class="container">
            <div class="col-sm-3 social-ic">
                <a href="#">FACEBOOK</a>
            </div>
            <div class="col-sm-3 social-ic">
                <a href="#">TWITTER</a>
            </div>
            <div class="col-sm-3 social-ic">
                <a href="#">GOOGLE+</a>
            </div>
            <div class="col-sm-3 social-ic">
                <a href="#">PINTEREST</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<script>
    $(function () {
        var $password = $('input[name=password]')
        var $confirm = $('input[name=confirm]')
        var options = {
            success: function (response) {
                console.log(response)
                if (response.code == 200) {
                    console.log('注册成功')
                    location.href='/home'
                } else {
                    console.log(response)
                }
            },
            dataType: "json"
        }
        $password.on('input', function () {
            if ($(this).val() != $password.val()) {
                $confirm.get(0).setCustomValidity('确认密码与密码不一致')
            } else {
                $confirm.get(0).setCustomValidity('')
            }
        })
        $confirm.on('input', function () {
            if ($(this).val() != $password.val()) {
                $(this).get(0).setCustomValidity('确认密码与密码不一致')
            } else {
                $(this).get(0).setCustomValidity('')
            }
        })
        console.log('go there')
        $('#reg_form').ajaxForm(options);
    })
</script>
</html>