<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head>
        <title>Home</title>
        <!-- for-mobile-apps -->
        <meta name="viewport" content="width=device-width, initial-scale=1">



        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="keywords" content="Classic Style Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
        <script type="application/x-javascript">
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);

            function hideURLbar() {
                window.scrollTo(0, 1);
            } </script>
        <!-- //for-mobile-apps -->

        <link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
        <link th:href="@{css/style.css}" rel="stylesheet" type="text/css" media="all"/>
        <!-- js -->
        <script th:src="@{js/jquery.min.js}"></script>
        <!-- //js -->
        <!-- cart -->
        <script th:src="@{js/simpleCart.min.js}"></script>
        <!-- cart -->
        <!-- for bootstrap working -->
        <script type="text/javascript" th:src="@{js/bootstrap-3.1.1.min.js}"></script>
        <!-- //for bootstrap working -->
        <!-- animation-effect -->
        <link th:href="@{css/animate.min.css}" rel="stylesheet">
        <script th:src="@{js/wow.min.js}"></script>
        <script>
            new WOW().init();
        </script>
        <!-- //animation-effect -->
        <link href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
    </head>

    <body>


        <div id="app" class="{{ route_class() }}-page">
            <!-- //header -->
            <div th:insert="/layout/__header"></div>

            <div layout:fragment="content" id="content" ></div>
            <!-- footer -->
            <div th:insert="/layout/__footer"></div>
            <!-- //footer -->
        </div>


    </body>
</html>