<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div th:fragment="footer" class="footer">
            <div class="container">
                <div class="footer-top">
                    <div class="col-md-9 footer-top1">
                        <h4>Duis aute irure dolor in reprehenderit in voluptate</h4>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse.Excepteur sint occaecat
                            cupidatat
                            non proident Duis aute irure dolor in reprehenderit in voluptate velit esse
                        </p>
                    </div>
                    <div class="col-md-3 footer-top2">
                        <a href="contact.html">Contact Us</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="footer-grids">
                    <div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".5s">
                        <h3>About Us</h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse.
                            <span>Excepteur sint occaecat cupidatat
                                non proident, sunt in culpa qui officia deserunt mollit.
                            </span>
                        </p>
                    </div>
                    <div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".6s">
                        <h3>Contact Info</h3>
                        <ul>
                            <li><i class="glyphicon glyphicon-map-marker"></i>1234k Avenue, 4th block,
                                <span>New York City.</span>
                            </li>
                            <li class="foot-mid">
                                <i class="glyphicon glyphicon-envelope"></i>
                                <a href="mailto:info@example.com">info@example.com</a>
                            </li>
                            <li><i class="glyphicon glyphicon-earphone"></i>+1234 567 567
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".7s">
                        <h3>Sign up for newsletter</h3>
                        <form>
                            <input type="text" placeholder="Email" required="">
                            <input type="submit" value="Submit">
                        </form>

                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="copy-right animated wow fadeInUp" data-wow-delay=".5s">
                    <p>Copyright &copy; 2016.Company name All rights reserved.More Templates
                        <a href="http://www.cssmoban.com/"
                           target="_blank" title="模板之家"></a>
                        - Collect from
                        <a href="http://www.cssmoban.com/" title="" target="_blank">亚马逊商城</a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>